/**
* path
*/
$image-path: "/assets/img/";

/** 
 * Colors
 */

//full opacity
$dark-gray:#282828;
$light-blue: #07D2FFFF;
$blue: #0a61cb;

//low opacity
$light-gray-o80: rgba(192, 192, 192, 0.8);
$dark-gray-o50: rgba(77, 77, 77, 0.5);
$dark-gray-o80: rgba(77, 77, 77, 0.8);

/** 
 * Fonts
 */
$primary-font: Rajdhani-Bold;

/** 
 * Style
 */