/** 
 * Colors
 */

//full opacity
$light-blue: lightblue;
$blue: #0a61cb;

//low opacity
$light-gray-o80: rgba(192, 192, 192, 0.8);
$dark-gray-o50: rgba(77, 77, 77, 0.5);
$dark-gray-o80: rgba(77, 77, 77, 0.8);


/** 
 * Fonts
 */
$primary-font: conthrax-sb;


/** 
 * Style
 */