InventoryBar {
  //background-color: darkcyan;
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  font-family: Roboto;

  &.hidden {
    pointer-events: none;
    display: none;
  }

  InventoryIcon {
    background-color: rgba(0, 0, 0, 0.12);
    font-size: 20px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 4px rgba(0, 0, 0, 0.35);
    border-radius: 25px;

    &.selected {
      border: 4px rgba(0, 0, 0, 0.60);
      border-radius: 35px;
      background-color: rgba(0, 0, 0, 0.19);
    }

    &:hover {
      background-color: lightblue;
      border-color: #0a61cb;
      border: 2px;
    }
  }
}