GameResults {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  &.active {
    pointer-events: all;
    height: 100%;
    width: 100%;
  }

  &.hidden {
    pointer-events: none;
    display: none;
  }

  .winning-team {
    color: #ffffff;
    font-size: 90px;
  }
}