InventoryBar {
  //background-color: darkcyan;
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  font-family: conthrax-sb;

  &.hidden {
    pointer-events: none;
    display: none;
  }
}
