Crosshair {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  background-color: rgba(77, 77, 77, 0.77);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}