@import '../Constants.scss';

RoleSelector {
  font-family: $primary-font;
  background-color: $dark-gray;
  cursor: default;
  padding: 50px;
  
  &.active {
    pointer-events: all;
    height: 100%;
    width: 100%;
  }

  &:not(.active) {
    pointer-events: none;
    display: none;
  }
}
