@import '../Constants.scss';

RoleSlot {
  background-color: whitesmoke;
  font-size: 30px;
  cursor: pointer;
  height: 100px;
  width: 500px;
  padding: 4px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.selected {
    background-color: $light-blue;
  }

  &:hover {
    background-color: $light-blue;
    border: 2px  $blue;
  }
}