@import '../Constants.scss';

RoleSlot {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  margin: 20px;
  align-content: center;
  transition-property: transform;
  transition-duration: 5s;

  .inside {
    height: 93%;
    width: 93%;
    border: 2px solid white;
    margin: auto;

    .roleLabel {
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: auto;
      text-align: center;
      color: white;
      font-size: 24px;
    }

    &:hover {
      border: 10px;
    }
  }

  &.selected {
    border-color: $light-blue;
  }

  &:hover {
    transform: scale(1.3);
  }


}