@import '../Constants.scss';

Notification {
  flex-direction: column;
  width: 100%;
  height: 70px;
  top: 100px;
  transition: all 2s ease;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: $primary-font;
  border-radius: 4px;
  border-width: 1px;
  border-color: lightblue;
  margin: 50px;

  &:intro {
    top: 125px;
    height: 0px;
    width: 100%;
    font-size: 0px;
    background-color: transparent;
    border-color: transparent;
  }

  &:outro {
    top: 125px;
    height: 0px;
    width: 100%;
    font-size: 0px;
    background-color: transparent;
    border-color: transparent;
  }

  Label {

  }

  //&:outro {
  //  font-size: 20px;
  //  background-color: blue;
  //}
  //&.enabled {
  //  background-color: green;
  //  font-size: 50px;
  //}
}