RoundInfos {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 10%;
  background-color: rgba(243, 240, 240, 0.26);
  flex-direction: column;
  font-family: conthrax-sb;

  &.hidden {
    display: none;
  }
}
