@import '../../Constants.scss';

InventoryBar {
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  font-family: $primary-font;

  &.hidden {
    pointer-events: none;
    display: none;
  }
}
